.title 感谢您的参与！
#finished
  %p
    恭喜！您的答对题数已经到了您今天的爱心上限
    %span= current_user.answer_limit
    题。
  %p
    :plain
      目前用户每天有<span>50</span>次的答对限制。还请明天继续参与到我们的行动中来吧！
  您还可以点击
  - @message = share_correct_count_for_donation_projects user_correct_count, @project
  - @path = "#{project_path(@project, :in => 'snf', :referer_id => current_user.id)}"
  = render :partial => 'social_links', :locals => {:message => @message, :path => @path}
  分享你的爱心纪录，鼓励更多朋友一起答题献爱心！
  %p
    您想到更有趣好玩的题目吗? 赶快点击
    %a.fancy{:href => new_pending_question_path}
      我要出题
    吧～
