.title 感谢您的参与！
#finished
  - @message = share_correct_count_for_donation_projects user_correct_count, @project
  - if current_user
    - @path = "#{project_path(@project, :in => 'snf', :referer_id => current_user.id)}"
  - else
    - @path = "#{project_path(@project, :in => 'snf')}"
  = render :partial => 'social_links', :locals => {:message => @message, :path => @path}
  分享你的爱心纪录，鼓励更多朋友一起答题献爱心！
  %p
  戳
  %a{href: "http://www.sojump.com/jq/3496660.aspx?wg=1"} 这里
  参与问卷调查，为完善小题大作出力！
  %p
    点击下一题即可继续答题
    %a.next{:href => random_questions_path(:project_id => @project.id)}
