<ul class="dashboard_tabs">
  <li><a href="/dashboard/main" <%="class='selected'" if action_name=="main"%>>最近参与</a></li>
  <li><a href="/dashboard/questions" <%="class='selected'" if action_name=="questions"%>>已出题目</a></li>
  <li><a href="/messages" <%="class='selected'" if controller_name=="messages"%> >个人消息</a></li>
</ul>
    