<div id="css_sidebar">
    <h1 class="title">后台管理系统</h1>
    <div class="panel">
        <div class="panel_title">
            <a href="javascript:void(0)">分类管理</a>
        </div>
        <ul class="list">
            <li><a href="/new_admin">分类列表</a></li>
            <li><a href="/new_admin/categories/new">添加分类</a></li>
           
        </ul>

        <div class="panel_title">
            <a href="javascript:void(0)">题集管理</a>
        </div>
        <ul class="list">
            <li><a href="/new_admin/question_sets">全部题集</a></li>
            <li><a href="/new_admin/question_sets/new">添加题集</a></li>
           
        </ul>

        <div class="panel_title">
            <a href="javascript:void(0)">题目管理</a>
        </div>
        <ul class="list">
            <li><a href="/new_admin/questions">全部题目</a></li>
            <li><a href="/new_admin/questions/upload">上传项目题集</a></li>
            <li><a href="/new_admin/questions/?show=sponsor">查看项目题集</a></li>
            <li><a href="/new_admin/questions/new">添加题目</a></li>
           
        </ul>

         <div class="panel_title">
            <a href="javascript:void(0)">首页公告管理</a>
        </div>
        <ul class="list">
            <li><a href="/new_admin/home_notices">全部公告</a></li>
            <li><a href="/new_admin/home_notices/new">添加公告</a></li>
           
        </ul>


         <div class="panel_title">
            <a href="javascript:void(0)">首页公告图片管理</a>
        </div>
        <ul class="list">
            <li><a href="/new_admin/assets">全部图片</a></li>
            <li><a href="/new_admin/assets/new">添加图片</a></li>
           
        </ul>

          <div class="panel_title">
            <a href="javascript:void(0)">项目管理</a>
        </div>
        <ul class="list">
            <li><a href="/new_admin/projects">全部项目</a></li>
           
        </ul>

           <div class="panel_title">
            <a href="javascript:void(0)">上传题集管理</a>
        </div>
        <ul class="list">
             <li><a href="/new_admin/pending_questions/uploading">上传题集</a></li>
            <li><a href="/new_admin/pending_questions">管理上传题集</a></li>
            <li><a href="/new_admin/pending_questions?status=accept">通过题集列表</a></li>
            <li><a href="/new_admin/pending_questions?status=reject">拒绝题集列表</a></li>
           
        </ul>

         <div class="panel_title">
            <a href="javascript:void(0)">用户管理</a>
        </div>
        <ul class="list">
             <li><a href="/new_admin/users">用户列表</a></li>       
           
        </ul>


         <div class="panel_title">
            <a href="javascript:void(0)">站内信管理</a>
        </div>
        <ul class="list">
             <li><a href="/new_admin/messages">站内信列表</a></li>
             <li><a href="/new_admin/messages/new">发送站内信</a></li> 
             <li><a href="/new_admin/messages/list">用户站内信列表</a></li>   
             <li><a href="/new_admin/yixin_cards/new">上传宜信助农卡</a></li> 
             <li><a href="/new_admin/yixin_cards">宜信助农卡使用情况</a></li>    
      
        </ul>




    </div>
    <div class="clear"></div>
</div>
