= form.input :coordinator_label, label: '捐赠方代称（合作伙伴 .etc）', as: :string
= form.input  :equation_string, label: '兑换公式替代文字', as: :string
= form.input  :tagline2, label: '答题页项目简介', as: :text
= form.input  :label_content, label: '答题页项目宣传', as: :text