<h1 class="title">
<span class="title_left">新建公告</span>
<span class="title_right">
    <a href="/new_admin/home_notices">返回列表</a>
</span>
</h1>
<div class="menu_bar">
    <div class="menu">
    </div>
</div>
<%= render 'form' %>
