= form.input :upload_image_banner, label: '顶部大图(1000x300)', as: :file
= form.input :banner_url, label: '顶部大图链接'
= form.input :information, label: '左下角项目信息'
= form.input :upload_image_small, label: '推荐用缩略图', as: :file
