- if !projects.nil? && !projects.empty?
  .other_projects
    .label
      其他活动
    - projects.shuffle!.first(4).each do |proj|
      .other_project
        .other_project_wrapped
          = link_to image_tag(project_image_path(proj,:small), :alt => proj.name, :title => proj.name), project_path(proj)
