.project_header
  .start_button=link_to image_tag(asset_path('static/answer.png')), random_questions_path(:project_id => project.id)
  答题支持绿色行动
.block_label
  项目简介
.block_content
  答题开始时间：2014年6月2日
  %br
  福特君不只卖汽车，还教你如何化身节水小达人，让你徜徉动物世界，并倾情向你提供雾霾天生存手册。只要参与答题，你可能就离环保达人近了一步。只要分享题目或答题成就，你就有机会获得福特项目的独家福利——由福特中国赞助的棒呆了的创意礼品。
  .clear
.block_label
  活动伙伴介绍
.block_content
  .left_image= link_to image_tag(organization_image_path(project.sponsor), :alt => project.sponsor.name), project.sponsor.url, :target => "_blank", :onclick=>"_gaq.push(['_trackEvent', 'Outbound', 'Sponsor', 'project_show']);"
  福特“更美好的世界”公益项目是福特汽车公司为实现企业、环境和社区可持续发展而发起的战略性企业社会责任项目。福特公司相信，一个伟大的公司除了为顾客提供优质的产品和服务，还竭尽全力使世界更加美好。为创造更美好的世界，福特公司在中国先后启动了“福特汽车环保奖”、“Level Up！绿色晋级”计划和“福特员工志愿者”计划，通过提供奖金资助、能力建设和志愿者持续支持中国的草根环保力量的发展。迄今，项目已资助325家优秀环保团体和个人，累计授予奖金1610万，为200余家环保机构提供能力建设培训，2013年动员逾1500名员工参与了志愿服务，累计服务时长近12000小时，为公益机构累计捐赠30余万。
  更重要的是，福特始终秉持绿色制造（Green Manufacturing）的理念，致力于在制造过程中减少有害物质的产生，降低对周边环境的影响。并致力于研发环境友好的可持续材料，以减轻对石油的依赖、减少固体废弃物的填埋及二氧化碳排放，以及降低对环境的影响。同时，福特为消费者提供节能高效的车型，满足客户对于健康和安全的要求，并保持福特产品一贯的高品质。
  协力创造一个更美好的世界，是福特汽车的愿望，也是福特汽车一直以来努力的方向。
  了解更多，请戳：http://www.fordgreen.com.cn/
  或者关注@福特中国 的新浪微博：http://weibo.com/fordchina
  再或者订阅福特中国的微信号：Ford_Go_Further
  .clear
.block_content
  .right_image= link_to image_tag(organization_image_path(project.coordinator), :alt => project.coordinator.name), project.coordinator.url, :target => "_blank", :onclick=>"_gaq.push(['_trackEvent', 'Outbound', 'Coordinator', 'project_show']);"
  小题大作微公益是中国第一个趣味性公益答题网站，我们通过趣味答题微公益活动，让公益变得简单、有趣、人人可参与。同时，小题也倾力为社会创新项目打造社会传播的平台。小题大作始终相信，公益应当是一个可持续的链条，也应该是社会化的行动，每个人负责自己最擅长的一环，一定能够将公益做得更好！
  今年，福特君希望通过支持小题君发起答题活动，发动更多的人参与到绿色行动中。小题君毫不犹豫地答应啦，希望通过小题君能够让更多人了解到福特君为更美好的世界带来的改变！
  .clear
.clear
