<style>
  .word{margin:0px auto;padding-left: 10px}
  .word h2{font-size:24px;color:#ff8800;text-align: center;}
  .word p{margin: 10px 0px;font-size: 12px;line-height: 24px;}
  .word h3{margin-top:10px;font-size: 14px;font-weight: bold;}
  .word .word_title{color:red;}
  .word .xiaoti{float:right;padding-right: 70px;font-weight: bold;font-size: 14px;}
</style>
<div class="word">
<h2>答题支持大爱清尘</h2>
<p>
 大爱清尘“寻救尘肺病农民工大行动”联合小题大作微公益发起“尘肺病知识”公益传播活动。从2013年4月15日起，登录小题大作微公益，即可从首页进入大爱清尘专项答题页面，了解尘肺病，通过答题为大爱清尘攒人气。
</p>
<h3>  您可以有以下支持方式：</h3>
<p>1、	回答尘肺病题集。题集由大爱清尘精心设计，包括尘肺病基础知识、常见误区和维权方式等</p>
<p>2、	点击“爱心传送门”。进入大爱清尘的官方淘宝店，进行个人爱心捐赠，所捐资金直接到达大爱清尘</p>
<p>3、	点击“企业合作”，了解企业如何利用小题大作微公益平台为大爱清尘进行捐赠支持</p>
<p>4、	点击题目分享或者贡献分享按钮，将您参与本次爱心答题分享到社交网络上，让您身边的朋友了解这次活动。</p>

<h3>Q&A</h3>
<p class="word_title">“大爱清尘”是一个什么组织？</p>
<p> 答：中华社会救助基金会大爱清尘基金，源自2011年6月15日由著名记者王克勤联合中华社会救助基金会共同发起的“大爱清尘•寻救中国尘肺病农民兄弟大行动”，是专项救治在死亡线上苦苦挣扎、缺失救助与关心的中国600万尘肺病农民的公益基金。
     尘肺病是由于长期吸入大量细微粉尘而引起的以肺组织纤维化为主的职业病。目前，尘肺病已成中国最严重的职业病。据卫生部2011年公开报告显示，自上世纪50年代以来，全国累计报告职业病749970例，其中尘肺病676541例，占90%，死亡149110例，病死率高达22.04%。根据卫生部相关专家分析判断及大爱清尘大量探访发现：目前中国至少有600万尘肺病农民需要救治。</p>
<p class="word_title">为什么参加这个答题活动？</p>
 <p> 答：支持大爱清尘从了解尘肺病开始，了解之后才能有行动。您在答题了解尘肺病的同时，也在为大爱清尘项目积攒人气，人气积攒到一定程度，企业可能对大爱清尘进行捐助。也能帮助小题大作更好吸引企业来参与捐赠。</p>

<p class="word_title">为什么这次活动中我的答题没有直接变成物资捐赠？</p>
 <p> 答：因为这次活动属于“答题攒人气”模式，这是小题大作微公益的新活动模式，没有合作企业做出捐赠承诺，而更多侧重为公益组织做知识传播。当然，您为活动答题积攒的人气，会帮助小题大作团队去吸引企业来为大爱清尘做捐赠。
如果有合作企业最终来认捐这些公益人气，我们会通过邮件或者私信方式通知您。</p>
 <img src="<%=asset_path('static/qingche.png')%>"/>

<p class="xiaoti">小题大作微公益团队<br/>
2013年4月15日</p>


</div>