.project_block_wrapped{class: show ? "displayed block_"+project.id.to_s : "hidden block_"+project.id.to_s, id: "project_block_"+project.id.to_s}
  .project_image.past_image= image_tag project_image_path(project, :main)
  .project_screen
  .project_overview
    .project_title
      = project.name
    .project_buttons
      %span.finished活动已结束
      = link_to image_tag(asset_path('static/detail_blue.png')), mobile_past_project_path(project)