<div class="home_follow">
   <div class="home_logo">
   	<img src="<%=asset_path("static/weibo.png") %>" />
  <!-- 	<img src="/assets/static/header/logo.png" class="last_image"/>-->
    <div class="clear"></div>
   </div>

   <div class="home_follow_right">
     <ul>
      <li><h3>官方微博<img src="<%=asset_path("static/header/v.png") %>"/></h3><span><iframe scrolling="no" frameborder="0" style="height: 22px;width:62px;border-top-width: 0px; border-right-width: 0px;position:absoulte; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial;" src="http://widget.weibo.com/relationship/followbutton.php?uid=2420322617&amp;style=2&amp;btn=red&amp;dpc=1" allowtransparency="true"></iframe></span></li>

      <li class="last_cloumn"><a href="http://weibo.com/dazuoxiaoti" targe="blank">weibo.com/dazuoxiaoti</a></li>
     </ul>
   </div>
    <div class="clear"></div>

   <div class="home_logo">
     <img src="<%=asset_path("static/weixin.png") %>" />
     <div class="clear"></div>
   </div>

   <div class="home_follow_right">
     <ul>
       <li><h4>微信公众号<img src="<%=asset_path("static/header/wx.png") %>"/></h4></li>

       <li class="last_cloumn"><p>答题做公益，小题目大作为！</p></li>
     </ul>
   </div>
   <div class="clear"></div>


</div>
