<style>
        .background{display:none;}
        .columns .static_right .static_content .description {font-size:30pt;line-height:30px;}
        .main {
        padding-top: 0px;
        }
        .header .logo {
        padding-top: 0px;
        }
        .project_list_left{margin-left:180px; padding-left: 0px}
</style>
    <div class='columns'>
          <div class='static_right' style='margin-left:180px;width:590px;'>
            <div class='static_header'>
              小题大作北京人大附中站
            </div>
            <div class='static_content'>
              <div class='description'>
                已答对 <font color="red">
                <%=current_user.correct_count%>
                </font>道题目
              </div>
            </div>
          </div>
          <div class='clear'></div>
          <div class='project_list_left'>
    <div class='projects_list'>
          <%@projects.each do |p| %>
          <div class="project_block">

            <%= render :partial => '/projects/project_block', :locals => {project: p, show: true}%>

          </div>
          <%end%>
          </div>
          </div>
    </div>