body {
  //font: 12pt/18px "Helvetica","Segoe UI",Tahoma,Arial,Verdana,"STHeiti","Microsoft Yahei",sans-serif;
  //font: 12pt/18px "微软雅黑", "STHeiti", "Helvetica", sans-serif;
  font: 12pt/18px "Microsoft Yahei", "Helvetica Neue", "STHeiti", sans-serif;
}

a {
  text-decoration: none;
  outline: 0;
}

li {
  list-style-type: none;
}
