<p>你好<%= @resource.email %>!</p>

<p>您在小题大做网站上申请了密码找回, 请访问下面的链接重新设置您的密码。</p>

<p><%= link_to '重设我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您没有申请密码找回，请忽略这封邮件。在您主动修改您的密码之前，您的密码不会改变。</p>
