%body
  #intro
    #total_participation_count= total_participation_count
    #total_item_count= total_items_count
    #description
      %p 趣味答题也可以参与公益献爱心
      %p 用户每共同答对一定数量的问题，我们的合作伙伴将会向指定的公益机构捐赠所需的物品
      %p
        更多功能请访问:
        %a{href: "http://t.cn/z0DslTI", target: "_blank"} http://t.cn/z0DslTI
    %a#start{href: "#questions"}
  #container.hidden
