.index_nav
  .background
  .wrap
    %a.logo_small(href='/')
    = render :partial => "layouts/menu"

    .user_information
      = render :partial => "layouts/message"
      = render :partial => "layouts/user_info"
.clear
