.index_nav
  .background
  .wrap
    %a.logo_small(href='/')
    = render :partial => "layouts/menu"

    .subscribe
      %iframe(src="http://www.connect.renren.com/like?url=http%3A%2F%2Fpage.renren.com%2F601065604" frameborder="0" allowtransparency="true" scrolling="no" style="float:left;margin-left: 2px; height: 25px;position:absoulte; width: 62px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; ")

    .user_informantion
      = render :partial => "layouts/message"
      = render :partial => "layouts/user_info"
.clear
