.top_nav
  .background
  .wrap
    %a.logo_small(href='/')

    = render :partial => "layouts/menu"

    .subscribe
      %iframe(src="http://widget.weibo.com/relationship/followbutton.php?uid=2420322617&amp;style=2&amp;btn=red&amp;dpc=1" frameborder="0" allowtransparency="true" scrolling="no" style="float:left;margin-left:1px;height: 25px; width: 65px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; ")
      %iframe(src="http://www.connect.renren.com/like?url=http%3A%2F%2Fpage.renren.com%2F601065604" frameborder="0" allowtransparency="true" scrolling="no" style="margin-left: 2px; height: 25px; width: 71px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; ")
      %a.mail{:href => "http://list.qq.com/cgi-bin/qf_invite?id=8d02f6be0e6a5f3afcc44f2a92afdc188101f129a55585cf", :target => "_blank", :onclick=>"_gaq.push(['_trackEvent', 'Outbound', 'rss', 'header']);"} 订阅邮件
    .user_informantion
      = render :partial => "layouts/message"
      = render :partial => "layouts/user_info"
    
.clear
