.top_nav
  .background
  .wrap
    %a.logo_small(href='/')

    = render :partial => "layouts/menu"

    .subscribe
      %iframe(src="http://widget.weibo.com/relationship/followbutton.php?uid=2420322617&amp;style=2&amp;btn=red&amp;dpc=1" frameborder="0" allowtransparency="true" scrolling="no" style="float:left;margin-left:1px;height: 25px; width: 65px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; ")

    .user_information
      = render :partial => "layouts/message"
      = render :partial => "layouts/user_info"
    
.clear
