<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>小题大作管理系统</title>
		<%= stylesheet_link_tag "admin/admin" %>
		<%= javascript_include_tag "admin" %>
	</head>
	<body>
		<div id="wapper">
			
			<div id="middle">
				
				<div id="css_mainbody">
					<%= yield %>
				</div>
				<div class="clear"></div>
			</div>
			<div id="foot">
				<div class="foot_list">
			  </div>
				
			</div>
		</div>
	</body>
</html>
